$mat-color-1: (
  50 : #e0e0e0,
  100 : #b3b3b3,
  200 : #808080,
  300 : #E8F3F1,
  400 : #00AA9D,
  500 : #67DFD4,
  600 : #67DFD4,
  700 : #67DFD4,
  800 : #67DFD4,
  900 : #67DFD4,
  A100 : #a6a6a6,
  A200 : #67DFD4,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-color-2: (
  50 : #f5e5e6,
  100 : #e6bec0,
  200 : #d69396,
  300 : #c6676c,
  400 : #b9474d,
  500 : #ad262d,
  600 : #a62228,
  700 : #9c1c22,
  800 : #93171c,
  900 : #830d11,
  A100 : #ffb4b6,
  A200 : #ff8183,
  A400 : #ff4e51,
  A700 : #ff3538,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);
